---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layout/MainLayout.astro";
import PokemonCard from "../../components/pokemones/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";

// para recibir rutas con parametros debo definir que recibire
// y compo la cantidad de pokemones viene de la pagina anterior
// aqui estoy generando esa cantidad de pokemones e incluso mas hasta 151
// luego leo esas props y esos params
// la url edtraigo nuevamente el id para la foto
export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const data: PokemonListResponse = await resp.json();

  // params es el que tengo en la el archivo .astro, el [name]
  return data.results.map((r) => ({
    params: { name: r.name },
    props: { name: r.name, url: r.url },
  }));

  // {
  //   params: { name: "bulbasaur" },
  //   props: { name: "bulbasaur", url: "https://pokeapi.co/api/v2/pokemon/1/" },
  // },
  // {
  //   params: { name: "charmander" },
  //   props: {
  //     name: "charmander",
  //     url: "https://pokeapi.co/api/v2/pokemon/4/",
  //   },
  // },
  // {
  //   params: { name: "raticate" },
  //   props: { name: "raticate", url: "https://pokeapi.co/api/v2/pokemon/4/" },
  // },
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<MainLayout
  title=`Pokemon - #${id} ${name}`
  description=`Información sobre el Pokemon ${name}`
  image = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <a class="hover:underline hover:text-blue-500" href="/">Regresar</a>
      <h1 class="text-5xl capitalize">{name}</h1>
    </div>

    <PokemonCard name={name} url={url} isBig={true} />

    <audio controls class="mt-5">
      <source src={audioSrc} type="audio/ogg" />

      Tu navegador no soporte el audio
    </audio>
  </section>
</MainLayout>
